* {box-sizing:border-box;}
$red:#DB2828; 
.time-range-picker {
	width: 100%;
	height: 50px;
	position: relative;
	user-select:none;
	-webkit-user-select:none;

	.tp-container {
		width: 96%;
		margin: 2%;
		position: relative;
	}

	.marker {
		position: absolute;
		width: 28px;
		height: 28px;
		background: red;
		border-radius:50%;
		cursor: pointer;
	}

	.icon {
		font-size:2rem;
	}

	.line {
		width: 100%;
		height: 5px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0,-50%);	
		background: gray;
		border-radius: 5px;
	}
}