<h1 id="title">Ember timerange-picker</h1>
{{!-- afterDrag=(action "updateOpeningHours" ) --}}
{{timerange-picker
	interval="15"
	minTime="06:00"
	maxTime="12:00"
	class="time-range-picker"
	afterDrag=(action "getTimeRange") 
	initFromValue="08:00"
	initToValue="10:00"
}}

{{outlet}}


