<h1 id="title">Ember timerange-picker</h1>
{{!-- afterDrag=(action "updateOpeningHours" ) --}}
{{timerange-picker
	interval="15"
	minDuration="60" 
	maxDuration="180"
	class="time-range-picker"
	afterDrag=(action "getTimeRange") 
	initFromValue="08:00"
	initToValue="09:00"
}}

{{outlet}}


