<h1 id="title">Ember timerange-picker</h1>
{{!-- afterDrag=(action "updateOpeningHours" ) --}}
{{timerange-picker
	interval="15"
	minDuration="60" 
	class="time-range-picker"
	afterDrag=(action "getTimeRange") 
	initFromValue="00:00"
	initToValue="24:00"
}}

{{outlet}}


